<!--
Welcome Slider
==================================== -->

<section class="hero-area overlay" style="background-image: url('https://media.istockphoto.com/id/1260306591/photo/cincinnati-downtown.jpg?b=1&s=170667a&w=0&k=20&c=xAHCyo_PnGFs7pBHTs47TlOeIJr-zLW7s5w1PAjKsKA=');">
 	
    <div class="block">
        <div class="video-button mb-5">
            <a class="popup-video" href="https://youtu.be/8SHPzcx596A">
                <i class="tf-ion-play"></i>
            </a>
        </div>
        <h1>Cincinnati</h1>
       <h2>Where You Belong</h2>
        <p>There’s something inviting about the Cincy Region. Here, Midwest friendliness meets Southern charm. This is where a vibrant urban setting gives way to green spaces and waterways. You can sample our world-famous Cincinnati chili or indulge in innovative, buzzworthy local cuisine. Marvel at cutting-edge street art or travel Northern Kentucky's bourbon trail. Discover a region that reveres history yet pursues constant reinvention. Cincy Culture isn't just one thing. But you have to be here to experience it for yourself.</p>
        <a href="#services" class="btn btn-transparent smooth-scroll">Let's Explore</a>
    </div>
</section>
