<section id="our-team" class="section">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
					<h2>Our <span class="color">Team</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- team member -->
			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="500ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/AlexisProfilePicture" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						 <div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					 <div class="member-meta">
						<h4 class="h5">Alexis Flowers</h4>
						<span>Team Member</span>
						<p>Kable Academy <br>Web Development Cohort <br>Fall '22</p>
					</div> 
					<!-- /member name & designation -->
					<!-- /about member -->

				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="200ms">
				<div class="team-member">
					<div class="member-photo">
						
						<img class="img-fluid" src="images/team/teamSectionProfilePicture" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						 <div class="mask">
							<ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div> 
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Kirk Springs</h4>
						<span>Team Member</span>
						<p>Kable Academy <br>Web Development Cohort <br>Fall '22</p>
					</div> 
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-duration="500ms" data-wow-delay="400ms">
				<div class="team-member">
					<div class="member-photo">
						<!-- member photo -->
						<img class="img-fluid" src="images/team/team-3" alt="Meghna">
						<!-- /member photo -->

						<!-- member social profile -->
						<div class="mask">
							 <ul class="list-inline">
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-facebook"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-twitter"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-linkedin"></i></a></li>
								<li class="list-inline-item"><a href="#"><i class="tf-ion-social-dribbble-outline"></i></a></li>
							</ul>
						</div>
						<!-- /member social profile -->
					</div>

					<!-- member name & designation -->
					<div class="member-meta">
						<h4 class="h5">Jason Donley</h4>
						<span>Team Member</span>
						<p>Kable Academy <br>Web Development Cohort <br>Fall '22</p>
					</div> 
					<!-- /member name & designation -->
					<!-- /about member -->
				</div>
			</div>
			<!-- end team member -->

		</div> 
		<!-- End row -->
	</div> 
	<!-- End container -->
</section> 
<!-- End section -->