<section class="bg-one about section">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
					<h2>Why <span class="color">Cincinnati</span> </h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
			</div>

			<!-- About item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block">
					<div class="icon-box">
						<i class="fa-sharp fa-solid fa-users-line"></i>
					</div>
					<!-- culture -->
					<div class="content text-center">
						<h3 class="ddd">Our Culture</h3>
						<p>Cincy is steeped in history, innovation, and creativity. Unearth hidden gems and unique experiences around every corner, from iconic landmarks and Art Deco architecture to renowned art museums, and outdoor murals/p>
					</div>
				</div>
			</div>
			<!-- End culture item -->

			<!-- attractions item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
				<div class="block">
					<div class="icon-box">
						<i class="fa-light fa-landmark"></i>
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Our Attractions</h3>
						<p>Uncover our history and stroll under the sea at Newport Aquarium with your family, savor a romantic weekend of unique restaurants, museums, and theater. Cincy has it all and is saving you a front row seat. </p>
					</div>
				</div>
			</div>
			<!-- End our attractions item -->

			<!-- our sports item -->
			<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
				<div class="block kill-margin-bottom">
					<div class="icon-box">
						<i class="fa-solid fa-rugby-ball"></i>
					</div>
					<!-- Express About Yourself -->
					<div class="content text-center">
						<h3>Our Sports</h3>
						<p>From the Bengals of the NFL, the Reds of the MLB, FC Cincinnati of the MLS, our beloved Bearcats, and well as all our other amazing collegiate teams, Cincinnati has it all and we're waiting for you!</p>
					</div>
				</div>
			</div>
		</div> 
	</div> 
</section> 
